<div class="home_container">

	<app-game-card
	gameCover="assets/tlou-1.jpg"
	gameLabel="Exclusivo"
	gamePrice="149,99"
	gameType="Digital PS4">
</app-game-card>

<app-game-card
	gameCover="assets/tlou-2.jpg"
	gameLabel="Exclusivo"
	gamePrice="299,99"
	gameType="Digital PS4">
</app-game-card>

<app-game-card
	gameCover="assets/gow-rag.jpg"
	gameLabel="Exclusivo"
	gamePrice="299,99"
	gameType="Digital PS4">
</app-game-card>

<app-game-card
gameCover="assets/bf5.jpg"
gameLabel="Novidade"
gamePrice="199,99"
gameType="Digital PS4">
</app-game-card>

<app-game-card
gameCover="assets/nba.jpg"
gameLabel="Promoção"
gamePrice="99,99"
gameType="Digital PS4">
</app-game-card>

<app-game-card
gameCover="assets/hog.jpg"
gameLabel="Novidade"
gamePrice="199,99"
gameType="Digital PS4">
</app-game-card>

<app-game-card
gameCover="assets/codmw3.jpg"
gameLabel="Digital"
gamePrice="199,99"
gameType="Digital PS4">
</app-game-card>

<app-game-card
gameCover="assets/re8.jpg"
gameLabel="Promoção"
gamePrice="99,99"
gameType="Digital PS4">
</app-game-card>

</div>
